PORT=3001

MONGO_URI=

NODE_ENV=development

CORS_ORIGIN=http://localhost:5173

PASSWORD_PEPPER=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

ADMIN_EMAIL=
ADMIN_PASSWORD=


CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_STATUS_URL=https://rc.esewa.com.np/api/epay/transaction/status/

ESEWA_PRODUCT_CODE=INTENT
ESEWA_ACCESS_KEY=LB0REg8HUSw3MTYrI1s6JTE8Kyc6JyAqJiA3MQ==
ESEWA_BASE_URL=https://rc-checkout.esewa.com.np/api/client/intent/payment
ESEWA_CALLBACK_URL=http://localhost:3001/api/v1/payments/esewa/callback
ESEWA_REDIRECT_URL=http://localhost:5173/checkout/success